/* # Mobile */
/* @media screen and (min-width: 480px) */

/* # Tablet */
@media screen and (min-width: 768px) {

}

/* # Desktop */
@media screen and (min-width: 992px) {

}

/* # Huge */
@media screen and (min-width: 1280px) {

}

body {
    background: url(background.jpg);
    background-position:top center;
    background-size:cover;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}